<ion-view ng-controller="GrazingController as grazing">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <i class="icon lic-logo"></i>{{page.title}}
  </ion-nav-title>
  <div class="bar bar-subheader" ng-if="features.widgets.stepsSubtitles&&(page.subtitle() != undefined)">
    <h2 class="title">{{page.subtitle()}}</h2>
  </div>
  <feedometer ng-if="page.step != 'group'"></feedometer>
  <ion-content has-subheader="true">
    <!-- MOB SELECTION -->
    <div class="list" ng-if="page.step == 'group'">
      <mob-info mob="grazingPlan.mob()" display-mob-list="true" display-demand="true" display-form="true"></mob-info>
    </div>

    <!-- PADDOCK SELECTION -->
    <div class="list" ng-if="page.step == 'paddock'">
        <div ng-repeat="feedPlan in grazingPlan.list" ng-show="paddockInput == 'multiple'">
          <paddock-info paddock-prefix="feedPlan.prefix" paddock="feedPlan.paddock" display-form="true"></paddock-info>
        </div>
    </div>


    <!-- SUPPLEMENT SELECTION -->
    <div class="list" ng-if="page.step == 'supplements'">
      <div class="item item-input row" ng-if="grazingPlan.missingFeed() >= 0">
        <div class="input-label col col-75 item-text-wrap">
          Feed missing
          <span class="input-unit">kg&nbsp;DM/cow</span>
        </div>
        <div class="col col-25 positive value-lic"><span format-num="grazingPlan.missingFeedPerCow()"></span></div>
      </div>
      <div class="item item-input row" ng-if="grazingPlan.missingFeed() < 0">
        <div class="input-label col col-75 item-text-wrap">
          Overfed by...
          <span class="input-unit">kg&nbsp;DM/cow</span>
        </div>
        <div class="col col-25 positive value-lic"><span format-num="-grazingPlan.missingFeedPerCow()"></span></div>
      </div>
      <!-- list all the paddocks (always) -->
      <div ng-repeat="feedPlan in grazingPlan.list">
        <div class="item item-divider">
          {{feedPlan.prefix}} Supplements
        </div>
        <supplement-list feed-plan-index="$index"></supplement-list>
      </div>
    </div>

    <!-- SUMMARY -->
    <grazing-summary show-summary-name="true" ng-if="page.step == 'summary'"></grazing-summary>

    <div class="back-next-buttons">
        <a href="{{page.back()}}">
          <button class="button button-icon icon lic-back"></button>
        </a>
        <a href="{{page.next()}}">
          <button class="button button-icon icon lic-next" ng-if="page.step != 'summary'"></button>
        </a>
        <button class="button button-icon icon lic-tick" ng-click="page.save()" ng-if="page.step == 'summary'"></button>
      </div>
  </ion-content>
  <steps-nav steps="navSteps" ng-if="features.widgets.stepsNav"></steps-nav>
</ion-view>
