<ion-side-menus ng-controller="MenuController" enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-view title="Home">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-content>
      </ion-content>
    </ion-view>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">MENU</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/home">
          HOME
          <i class="icon lic-home"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/grazingSteps/1aDay/group">
          ONE PADDOCK A DAY
          <i class="icon lic-cow"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/grazingSteps/2aDay/group">
          TWO PADDOCKS A DAY
          <i class="icon lic-2cows"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/grazingSteps/3in2Days/group" ng-if="features.pages.grazingType3">
          3 IN 2 GRAZING
          <i class="icon lic-3cows"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/grazingSteps/winter/group" ng-if="features.pages.winterGrazing">
          WINTER GRAZING
          <i class="icon lic-snow"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/calendar" ng-if="features.pages.calendar">
          CALENDAR
          <i class="icon lic-calendar"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/summary" ng-if="features.pages.summaries">
          SUMMARY
          <i class="icon lic-calendar"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/settings">
          SETTINGS
          <i class="icon lic-settings"></i>
        </ion-item>
        <ion-item nav-clear menu-close-keep-history class="item-icon-right" href="#/app/about" ng-if="features.pages.about">
          ABOUT
          <i class="icon lic-info"></i>
        </ion-item>
        <ion-item class="positive-bg" ng-if="features.pages.feedback"></ion-item>
        <ion-item nav-clear menu-close-keep-history class="feedback-grey-bg item-icon-right" href="#/app/feedback" ng-if="features.pages.feedback">
          GIVE US FEEDBACK
          <i class="icon lic-logo"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
