<ion-view ng-controller="SettingsMobsController">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{settingsTitle}}
  </ion-nav-title>
   <ion-nav-buttons side="right">
    <a class="button button-icon button-clear" href="#/app/settings" >
      Back
    </a>
  </ion-nav-buttons>

  <ion-content class="list">
    <div ng-repeat="group in groups.list track by $index">
      <div class="list card">

        <div class="item item-input row">
          #{{$index+1}}.
          <div class="col col-100">
             <input type="text"  ng-model="group.name" ng-value="group.name()" ng-model-options="{getterSetter: true}">
          </div>
        </div>
        <!-- DISPLAY -->
        <div class="item item-text-wrap item-2icons-right item-icon-right">
            <span class="item item-input row">
              <span class="col col-20">
                  <input type="number" ng-model="group.size"  ng-value="group.size()" step="1" ng-min="0" ng-model-options="{getterSetter: true}">
              </span> cows @

              <span class="col col-20">
                  <input type="number" ng-model="group.intake" ng-value="group.intake()" step="1" ng-min="0" ng-model-options="{getterSetter: true}">
              </span>&nbsp;kg&nbsp;DM/day
            </span>

            <i ng-if="$index != 0"  class="icon lic-remove-full calm" ng-click="deleteMob($index)"></i>
          </div>

      </div>

    </div>

    <div ng-if="addMobForm">
      <div class="item item-input row">
        <div class="col col-33 item-text-wrap">Mob name</div>
        <div class="col col-67">
          <input type="text" ng-model="addedMob.name" ng-model-options="{getterSetter: true}">
        </div>
      </div>

      <div class="item item-input row">
        <div class="col col-75 item-text-wrap">Number of cows</div>
        <div class="col col-25">
          <input type="number" ng-model="addedMob.size" ng-model-options="{getterSetter: true}" >
        </div>
        <div class="col col-25 positive value-lic"><span format-num="mob.size()"></span></div>
      </div>

      <div class="item item-input row">
        <div class="col col-75">
          <div class="item-text-wrap item-icon-right">
            <i class="icon calm lic-calc"></i>
            Cow daily intake
            <span class="input-unit">kg&nbsp;DM</span>
          </div>
        </div>
        <div class="col col-25">
          <input type="number" ng-model="addedMob.intake" ng-model-options="{getterSetter: true}" >
        </div>

        <div class="col col-25 positive value-lic"><span format-num="addedMob.intake"></span></div>
      </div>
    </div>

    <div class="row">

      <div class="col-90 text-right">
        <button class="button button-icon icon lic-add-full" ng-click="addMob()">Add a Mob</button>
      </div>
      <div class="col-10 text-right">
        <button class="button button-icon icon lic-save" ng-click="saveMobs()">Save</button>
      </div>
    </div>


  </ion-content>


</ion-view>
