<ion-view ng-controller="SettingsWastageController">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{settingsTitle}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear" href="#/app/settings">
      Back
    </a>
  </ion-nav-buttons>
  <ion-content class="list">
    <div class="item item-input row" ng-if="features.widgets.wastage">
      <div class="input-label col col-75 item-text-wrap">
        Pasture waste
        <span class="input-unit">%</span>
      </div>
      <div class="col col-25">
        <input type="number" ng-model="wastage.pasture" ng-model-options="{getterSetter: true}"
               ng-change="page.change()" ng-max="0" ng-max="99">
      </div>
    </div>
    <div class="item item-input row" ng-if="features.widgets.wastage">
      <div class="input-label col col-75 item-text-wrap">
        Supplement waste
        <span class="input-unit">%</span>
      </div>
      <div class="col col-25">
        <input type="number" ng-model="wastage.supplement" ng-model-options="{getterSetter: true}"
               ng-change="page.change()"  ng-max="0" ng-max="99">
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <button class="button button-icon icon lic-save" ng-click="saveWastage()">Save</button>
      </div>
    </div>

  </ion-content>
</ion-view>
