<ion-view ng-controller="SettingsPaddockController">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{settingsTitle}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear" href="#/app/settings">
      Back
    </a>
  </ion-nav-buttons>

  <ion-content class="list">
    <paddock-info paddock="paddock" display-form="true" on-change="page.change()"
                  ng-if="!features.widgets.feedQuality"></paddock-info>
    <paddock-info paddock="paddock" display-form="true" display-quality="true" on-change="page.change()"
                  ng-if="features.widgets.feedQuality"></paddock-info>


    <div class="row">
      <div class="col text-right">
        <button class="button button-icon icon lic-save" ng-click="savePaddock()">Save</button>
      </div>
    </div>

  </ion-content>


</ion-view>
