<ion-modal-view ng-controller="SettingsSupplementsController">
    <ion-header-bar class="bar bar-lic">
        <button class="button icon lic-back" ng-click="page.back()" ng-if="!page.changed"></button>
        <button class="button" ng-if="page.changed" ng-click="cancel()">Cancel</button>
        <h1 class="title">{{modalTitle}}</h1>
        <button class="button icon lic-save" ng-if="page.changed" ng-click="save()"></button>
    </ion-header-bar>
    <ion-content class="list">
        <div class="item item-checkbox" ng-repeat="supplement in predefinedList">
            <label class="checkbox">
                <input type="checkbox" ng-model="supplement.selected" ng-click="page.change()">
            </label>
            {{supplement.name()}}
        </div>
    </ion-content>

  <div class="item">
    <button class="button button-assertive" ng-click="cancel()">Cancel</button>
    <button class="button" ng-click="defaultSupplements()">Set as default</button>
    <button class="button icon lic-save" ng-click="saveSupplementsSettings()"></button>
  </div>


</ion-modal-view>
