<ion-view ng-controller="SettingsController as settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon lic-menu"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <i class="icon lic-logo"></i>{{page.title}}
    </ion-nav-title>
    <ion-content>
        <div class="list card">
            <!-- GROUPS -->
            <div class="item calm-bg item-icon-right" ng-click="openModalMobs()">
                MOBS
                <i class="icon lic-settings"></i>
            </div>

            <!-- PADDOCKS -->
            <div class="item calm-bg item-icon-right" ng-click="openModalPaddock()">
                DEFAULT PADDOCK SETTINGS
                <i class="icon lic-settings"></i>
            </div>

            <!-- WASTAGE -->
            <div class="item calm-bg item-icon-right" ng-if="features.widgets.wastage" ng-click="openModalWastage()">
                WASTAGE
                <i class="icon lic-settings"></i>
            </div>

            <!-- SUPPLEMENTS -->
            <div class="item calm-bg item-icon-right" ng-click="openModalSupplements()">
                SUPPLEMENTS
                <i class="icon lic-settings"></i>
            </div>
        </div>

        <div class="list">
            <div class="item">
                <button class="button lic-back" ng-click="goBack()" ng-controller="BackController"></button>
            </div>
        </div>
    </ion-content>
</ion-view>
