<ion-view ng-controller="SettingsController as settings">
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button button-icon button-clear" href="#/app/home" >
      Back
    </a>

  </ion-nav-buttons>


    <ion-nav-title>
        <i class="icon lic-logo"></i>{{page.title}}
    </ion-nav-title>
    <ion-content>
        <div class="list card">
            <!-- GROUPS -->
            <a href="/#/app/settingsMobs">
              <div class="item calm-bg item-icon-right">
                  MOBS
                  <i class="icon ion-chevron-right"></i>
              </div>
            </a>

            <!-- PADDOCKS -->
            <a href="/#/app/settingsPaddocks">
              <div class="item calm-bg item-icon-right">
                  DEFAULT PADDOCK SETTINGS
                  <i class="icon ion-chevron-right"></i>
              </div>
            </a>

            <!-- WASTAGE -->
            <a href="/#/app/settingsWastage">
              <div class="item calm-bg item-icon-right" ng-if="features.widgets.wastage">
                  WASTAGE
                  <i class="icon ion-chevron-right"></i>
              </div>
            </a>

            <!-- SUPPLEMENTS -->
            <a href="/#/app/settingsSupplements">
              <div class="item calm-bg item-icon-right">
                  SUPPLEMENTS
                  <i class="icon ion-chevron-right"></i>
              </div>
            </a>
        </div>

    </ion-content>
</ion-view>
