<ion-modal-view ng-controller="SettingsPaddockController">
    <ion-header-bar align-title="left" class="bar-positive">
      <div class="buttons">
        <button class="button-icon" ng-click="cancel()">Cancel</button>
      </div>
      <h1 class="title logo-text-body">{{modalTitle}}</h1>
      <div class="buttons">
        <button class="button-icon icon lic-save" ng-click="save()"></button>
      </div>
    </ion-header-bar>
    <ion-content class="list">
        <paddock-info paddock="paddock" display-form="true" on-change="page.change()" ng-if="!features.widgets.feedQuality"></paddock-info>
        <paddock-info paddock="paddock" display-form="true" display-quality="true" on-change="page.change()" ng-if="features.widgets.feedQuality"></paddock-info>
    </ion-content>


</ion-modal-view>
