<ion-view ng-controller="SummaryController as summary">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <i class="icon lic-logo"></i>Summary per Mob
  </ion-nav-title>
  <feedometer ng-show="!noSummary"></feedometer>
  <ion-content>
    <div class="list" ng-show="noSummary">
      <div class="item item-divider">No summary available.</div>
    </div>

    <div ng-show="!noSummary">
      <!-- GROUP SELECTION -->
      <div class="list">
        <div class="item item-divider">
          Select summary for...
        </div>
        <div class="card">

          <ion-list class="item item-text-wrap" ng-repeat="summary in summaryList">
            <ion-radio type="radio" ng-model="$parent.selectedSummary" ng-click="selection(summary)" ng-model-options="{getterSetter: true}" ng-value="summary"/>{{summary.name}}
          </ion-list>

        </div>
      </div>
      <grazing-summary show-summary-name="false"></grazing-summary>
    </div>

  </ion-content>
</ion-view>
