<ion-view ng-controller="SummaryController" align-title="left" title="Summary">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button-icon icon lic-menu"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <i class="icon lic-logo"></i>Last summary per Mob
  </ion-nav-title>
  <feedometer ng-show="!noSummary"></feedometer>
  <ion-content>
    <div class="list" ng-show="noSummary">
      <div class="item item-divider">No summary available.</div>
    </div>

    <div ng-show="!noSummary">
      <!-- GROUP SELECTION -->
      <div class="list">
        <div class="item item-divider">
          Select summary for...
        </div>
        <div class="card">
          <label class="item item-radio item-text-wrap" ng-repeat="(key, value) in summaryList">
            <input type="radio" name="summaryInput" ng-click="selectedSummary(key)" ng-model-options="{getterSetter: true}" value="{{key}}">
            <div class="item-content">
              {{key}}
            </div>
            <i class="radio-icon lic-tick"></i>
          </label>
        </div>
      </div>
      <grazing-summary show-summary-name="false"></grazing-summary>
    </div>

  </ion-content>
</ion-view>
