.lic-style .logo {
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 50%;
  background-size: 100px 82px; }
.lic-style .iPhoneTopBar {
  display: block;
  width: 100%;
  height: 20px;
  background-color: #000000; }
.lic-style .iPhoneTopBar ~ .view-container {
  height: calc(100% - 20px); }
.lic-style .iPhoneTopBar ~ .modal-backdrop {
  top: 20px;
  height: calc(100% - 20px); }
.lic-style .item {
  color: #9d9d9d;
  font-size: 30px; }
  .lic-style .item.item-divider {
    font-family: LIC-Bold;
    font-weight: bold;
    color: #666666;
    background-color: transparent;
    font-size: 30px;
    border-color: white !important; }
.lic-style p {
  font-size: 16px; }
.lic-style ion-footer-bar.bar-assertive.bar.bar-footer {
  position: fixed;
  float: right;
  display: inline-block; }
.lic-style .list {
  font-family: LIC-Bold; }
  .lic-style .list .item {
    border: none; }
    .lic-style .list .item.calm-bg {
      border-top: 1px solid white; }
  .lic-style .list .card .item {
    border: 1px solid white; }
.lic-style .button {
  background-color: #0397d6;
  border-radius: 0;
  color: white;
  border: none;
  padding: 5px 12px;
  font-family: LIC-Bold; }
  .lic-style .button.active {
    opacity: 0.6; }
  .lic-style .button.activated {
    opacity: 0.6; }
  .lic-style .button.button-positive {
    color: white;
    background-color: #1e3466;
    border-radius: 0;
    border: 0; }
  .lic-style .button.button-calm {
    color: white;
    background-color: #0397d6;
    border-radius: 0;
    border: 0; }
.lic-style .item-input input {
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 3px #aaaaaa;
  margin-right: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 18px;
  height: 48px; }
  .lic-style .item-input input:focus {
    border: 1px solid #82cbeb;
    box-shadow: 0 0 6px #82cbeb; }
.lic-style .item-input input[type="number"] {
  text-align: right; }
.lic-style .item-input .input-label {
  color: #9d9d9d;
  flex: unset;
  font-size: 18px;
  width: 0; }
.lic-style .item-input .vertical-bottom {
  vertical-align: bottom !important; }
.lic-style .item-input .vertical-middle {
  vertical-align: middle !important; }
.lic-style .item-input .lic-label {
  color: black;
  font-size: 80px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center; }
.lic-style .item-radio {
  color: black; }
  .lic-style .item-radio .radio-icon {
    padding: 1px 10px 1px 0; }
  .lic-style .item-radio .item-content {
    background-color: white;
    padding: 11px 49px 11px 16px; }
  .lic-style .item-radio.active {
    opacity: 0.6; }
  .lic-style .item-radio.activated {
    opacity: 0.6; }
  .lic-style .item-radio input:checked ~ .item-content {
    background-color: #1e3466;
    color: white; }
.lic-style select {
  font-family: LIC-Regular;
  font-size: 30px; }
.lic-style .bar {
  border-color: #1e3466;
  background-color: #1e3466;
  color: white;
  position: relative; }
  .lic-style .bar .title {
    color: white;
    overflow: visible;
    font-family: LIC-Bold;
    font-weight: bold;
    font-size: 22px; }
    .lic-style .bar .title .label-title {
      color: #9d9d9d;
      font-size: 18px;
      overflow: visible;
      font-family: LIC-Bold;
      font-weight: bold; }
  .lic-style .bar .buttons {
    margin: -5px; }
  .lic-style .bar .button {
    background-color: #0397d6;
    color: white; }
.lic-style ion-side-menu .item-content {
  background-color: #0397d6;
  color: white;
  font-size: 20px; }
.lic-style ion-side-menu .scroll {
  padding: 0; }
.lic-style ion-side-menu .bar .title {
  color: white;
  font-weight: bold; }
.lic-style ion-side-menu .list .item {
  border: 1px solid white; }
.lic-style th {
  font-weight: bold; }
.lic-style .col-10 {
  width: 10% !important; }
.lic-style .col-20 {
  width: 20% !important; }
.lic-style .col-25 {
  width: 25% !important; }
.lic-style .col-33 {
  width: 33.3333% !important; }
.lic-style .col-50 {
  width: 50% !important; }
.lic-style .col-67 {
  width: 66.6666% !important; }
.lic-style .col-75 {
  width: 75% !important; }
.lic-style .col-80 {
  width: 80% !important; }
.lic-style .col-90 {
  width: 90% !important; }
.lic-style .row {
  padding: 0 11px;
  margin-right: 0;
  margin-left: 0; }
.lic-style .scroll {
  padding-top: 5px;
  padding-bottom: 100px; }
.lic-style .tabs {
  height: 50px;
  line-height: 40px;
  border: 0; }
.lic-style .tab-item {
  opacity: 1; }
  .lic-style .tab-item.tab-item-active {
    opacity: 0.6; }
  .lic-style .tab-item.active {
    opacity: 0.6; }
  .lic-style .tab-item.activated {
    opacity: 0.6; }
.lic-style .positive {
  color: #1e3466 !important; }
.lic-style .bg-positive {
  background-color: #1e3466 !important; }
.lic-style .bg-calm {
  background-color: #0397d6 !important; }
.lic-style .calm {
  color: #0397d6; }
.lic-style .calm-bg {
  color: white;
  background-color: #0397d6; }
.lic-style .button-balanced {
  background-color: #c3e459;
  color: #353f1b;
  border: none; }
.lic-style .button-assertive {
  background-color: #e62723;
  color: white;
  border: none; }
.lic-style label.item.item-checkbox {
  font-size: 20px; }
.lic-style a.button.button-icon.button-clear {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 39px; }
.lic-style .bar .buttons-right span {
  margin-right: 0px; }
.lic-style .assertive {
  color: #e62723; }
.lic-style .bar-calm .button.button-icon {
  padding: 2px; }
.lic-style .lic-label.input-label.middle-input {
  font-size: 40px; }
.lic-style .item-select select {
  font-size: 18px;
  text-overflow: ellipsis; }
.lic-style .nav-tabs > li > a {
  background-color: #0397d6;
  border-color: #777777;
  color: white; }
  .lic-style .nav-tabs > li > a:hover {
    border-color: #0397d6;
    background-color: #0397d6; }
.lic-style .bar-stable .button.button-clear {
  font-size: 20px; }
.lic-style .fill-image {
  flex-shrink: 0;
  min-width: 100%;
  max-height: 252px; }

.lic-style .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: black;
  background-color: white;
  border: 1px solid #666666;
  border-bottom-color: white; }

@font-face {
  font-family: LIC-Regular;
  src: url(./fonts/LIC-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LIC-Bold;
  src: url(./fonts/LIC-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: LIC-Icons;
  src: url(./fonts/LIC-Icons.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.larger-font {
  color: #9d9d9d;
  font-size: 30px; }

.value-lic {
  font-family: LIC-Bold;
  font-weight: bold;
  text-align: right;
  padding: 5px;
  margin-right: 5px; }

@supports (-moz-outline-radius: 5px) or (outline-radius: 5px) {
  .item-input input:focus {
    outline: 1px solid #82cbeb;
    outline-radius: 5px;
    border: 0; } }
ion-header-bar.fixed-bar.bar-calm.bar.bar-header {
  margin-top: -5px;
  background-color: black; }

ion-side-menu {
  background-color: #1e3466; }
  ion-side-menu.menu {
    background-color: #1e3466; }

.icon[ng-click] {
  cursor: pointer; }
  .icon[ng-click].active {
    opacity: 0.6; }
  .icon[ng-click].activated {
    opacity: 0.6; }

.odd {
  background-color: white; }

.even {
  background-color: #cccccc; }

table {
  width: 100%; }

.item-radio input:checked + .radio-content .item-content {
  background-color: #279dff;
  padding: 11px 49px 11px 16px; }

.nav-tabs {
  font-family: LIC-Bold; }

.bar-header .lic-logo:before {
  color: #0397d6;
  font-size: 170%;
  vertical-align: middle; }

.lic-icon:before {
  display: inline-block;
  font-family: LIC-Icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1; }

.lic-cow:before {
  content: '1'; }

.lic-2cows:before {
  content: '2'; }

.lic-3cows:before {
  content: '3'; }

.lic-snow:before {
  content: 'w'; }

.lic-calendar:before {
  content: 'c'; }

.lic-settings:before {
  content: 's'; }

.lic-home:before {
  content: 'H'; }

.lic-info:before {
  content: 'I'; }

.lic-reload:before {
  content: 'o'; }

.lic-menu:before {
  content: 'M'; }

.lic-next:before {
  content: 'r'; }

.lic-back:before {
  content: 'l'; }

.lic-logo:before {
  content: 'L'; }

.lic-tick:before {
  content: 't'; }

.lic-calc:before {
  content: 'q'; }

.lic-edit-full:before {
  content: 'E'; }

.lic-add-full:before {
  content: ' +'; }

.lic-remove-full:before {
  content: '-'; }

.lic-save:before {
  content: 'd'; }

.lic-close:before {
  content: 'x'; }

.lic-chevron-right:before {
  content: ' >'; }

.lic-chevron-left:before {
  content: '<'; }

.lic-arrow-left:before {
  content: 'l'; }

.lic-arrow-right:before {
  content: 'r'; }

.lic-logout:before {
  content: 'O'; }

.lic-graph:before {
  content: 'B'; }

.lic-sync:before {
  content: 'J'; }

.col .item-icon-right {
  position: relative; }

.nav-controls {
  box-sizing: border-box;
  width: 100%;
  font-family: LIC-Bold; }
  .nav-controls .t-cell {
    vertical-align: middle; }
  .nav-controls a.control-icon, .nav-controls span.control-icon {
    text-decoration: none;
    display: inline-block; }
  .nav-controls .control-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #0397d6;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0; }
    .nav-controls .control-icon[class*="el-icon-"] {
      font-size: 25px; }
    .nav-controls .control-icon.fa {
      font-size: 40px; }
    .nav-controls .control-icon.disabled {
      background-color: #999;
      color: white; }
    .nav-controls .control-icon.ng-click-active:not(.disabled) {
      background-color: #d9df3f; }
    .nav-controls .control-icon:focus {
      outline: 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }

.panel-modal-container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100; }
  .panel-modal-container.z200 {
    z-index: 200; }
  .panel-modal-container .panel-modal-body {
    padding: 60px 20px 0 20px;
    color: white;
    box-sizing: border-box; }
    .panel-modal-container .panel-modal-body .modal-title {
      font-size: 30px; }
      .panel-modal-container .panel-modal-body .modal-title + .modal-title {
        margin-top: 10px; }
    .panel-modal-container .panel-modal-body .modal-title {
      text-align: center;
      width: 100%; }

i.el-icon-star {
  color: #999; }
  i.el-icon-star.rewarded {
    color: #f3d231; }

@media only screen and (min-width: 500px) {
  .panel-modal-container .panel-modal-body {
    padding: 90px 30px 0 30px; }
    .panel-modal-container .panel-modal-body .modal-title {
      font-size: 45px; }
      .panel-modal-container .panel-modal-body .modal-title + .modal-title {
        margin-top: 15px; }

  .nav-controls .control-icon {
    width: 75px;
    height: 75px;
    line-height: 75px; }
    .nav-controls .control-icon[class*="el-icon-"] {
      font-size: 37.5px; }
    .nav-controls .control-icon.fa {
      font-size: 60px; } }
@media only screen and (max-height: 480px) {
  .panel-modal-container .panel-modal-body {
    padding: 54px 18px 0 18px; }
    .panel-modal-container .panel-modal-body .modal-title {
      font-size: 27px; }
      .panel-modal-container .panel-modal-body .modal-title + .modal-title {
        margin-top: 9px; }

  .nav-controls .control-icon {
    width: 45px;
    height: 45px;
    line-height: 45px; }
    .nav-controls .control-icon[class*="el-icon-"] {
      font-size: 22.5px; }
    .nav-controls .control-icon.fa {
      font-size: 36px; } }
@-webkit-keyframes pulsateBorder {
  0% {
    border-color: white; }

  50% {
    border-color: #ffb200; }

  100% {
    border-color: white; } }

@-moz-keyframes pulsateBorder {
  0% {
    border-color: white; }

  50% {
    border-color: #ffb200; }

  100% {
    border-color: white; } }

@keyframes pulsateBorder {
  0% {
    border-color: white; }

  50% {
    border-color: #ffb200; }

  100% {
    border-color: white; } }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: translate3d(0, 0, 0); }

  50% {
    -webkit-transform: translate3d(0, -10px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-moz-keyframes pulsate {
  0% {
    -moz-transform: translate3d(0, 0, 0); }

  50% {
    -moz-transform: translate3d(0, -10px, 0); }

  100% {
    -moz-transform: translate3d(0, 0, 0); } }

@keyframes pulsate {
  0% {
    transform: translate3d(0, 0, 0); }

  50% {
    transform: translate3d(0, -10px, 0); }

  100% {
    transform: translate3d(0, 0, 0); } }

.game-container .game-field {
  box-sizing: border-box;
  width: 100%;
  text-align: center; }
  .game-container .game-field .game-matrix {
    position: relative;
    display: inline-block;
    background-color: white;
    box-sizing: border-box; }
    .game-container .game-field .game-matrix .matrix-cell {
      cursor: pointer;
      font-family: LIC-Bold;
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid white;
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .game-container .game-field .game-matrix .matrix-cell {
      box-sizing: border-box;
      text-align: center;
      background-color: #0397d6;
      color: white;
      z-index: 10;
      -webkit-transition: -webkit-transform 0.1s ease-out;
      -moz-transition: -moz-transform 0.1s ease-out;
      -ms-transition: -ms-transform 0.1s ease-out;
      -o-transition: -o-transform 0.1s ease-out;
      transition: transform 0.1s ease-out; }
      .game-container .game-field .game-matrix .matrix-cell.transferred {
        z-index: 5; }
      .game-container .game-field .game-matrix .matrix-cell.activated {
        opacity: 0.6; }
      .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="0"] {
        -moz-transform: translate3d(0%, 0%, 0);
        -o-transform: translate3d(0%, 0%, 0);
        -ms-transform: translate3d(0%, 0%, 0);
        -webkit-transform: translate3d(0%, 0%, 0);
        transform: translate3d(0%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="0"].moveUp {
          -moz-transform: translate3d(0%, -25%, 0);
          -o-transform: translate3d(0%, -25%, 0);
          -ms-transform: translate3d(0%, -25%, 0);
          -webkit-transform: translate3d(0%, -25%, 0);
          transform: translate3d(0%, -25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="0"].moveDown {
          -moz-transform: translate3d(0%, 25%, 0);
          -o-transform: translate3d(0%, 25%, 0);
          -ms-transform: translate3d(0%, 25%, 0);
          -webkit-transform: translate3d(0%, 25%, 0);
          transform: translate3d(0%, 25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="0"].moveLeft {
          -moz-transform: translate3d(-25%, 0%, 0);
          -o-transform: translate3d(-25%, 0%, 0);
          -ms-transform: translate3d(-25%, 0%, 0);
          -webkit-transform: translate3d(-25%, 0%, 0);
          transform: translate3d(-25%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="0"].moveRight {
          -moz-transform: translate3d(25%, 0%, 0);
          -o-transform: translate3d(25%, 0%, 0);
          -ms-transform: translate3d(25%, 0%, 0);
          -webkit-transform: translate3d(25%, 0%, 0);
          transform: translate3d(25%, 0%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="1"] {
        -moz-transform: translate3d(100%, 0%, 0);
        -o-transform: translate3d(100%, 0%, 0);
        -ms-transform: translate3d(100%, 0%, 0);
        -webkit-transform: translate3d(100%, 0%, 0);
        transform: translate3d(100%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="1"].moveUp {
          -moz-transform: translate3d(100%, -25%, 0);
          -o-transform: translate3d(100%, -25%, 0);
          -ms-transform: translate3d(100%, -25%, 0);
          -webkit-transform: translate3d(100%, -25%, 0);
          transform: translate3d(100%, -25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="1"].moveDown {
          -moz-transform: translate3d(100%, 25%, 0);
          -o-transform: translate3d(100%, 25%, 0);
          -ms-transform: translate3d(100%, 25%, 0);
          -webkit-transform: translate3d(100%, 25%, 0);
          transform: translate3d(100%, 25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="1"].moveLeft {
          -moz-transform: translate3d(75%, 0%, 0);
          -o-transform: translate3d(75%, 0%, 0);
          -ms-transform: translate3d(75%, 0%, 0);
          -webkit-transform: translate3d(75%, 0%, 0);
          transform: translate3d(75%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="1"].moveRight {
          -moz-transform: translate3d(125%, 0%, 0);
          -o-transform: translate3d(125%, 0%, 0);
          -ms-transform: translate3d(125%, 0%, 0);
          -webkit-transform: translate3d(125%, 0%, 0);
          transform: translate3d(125%, 0%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="2"] {
        -moz-transform: translate3d(200%, 0%, 0);
        -o-transform: translate3d(200%, 0%, 0);
        -ms-transform: translate3d(200%, 0%, 0);
        -webkit-transform: translate3d(200%, 0%, 0);
        transform: translate3d(200%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="2"].moveUp {
          -moz-transform: translate3d(200%, -25%, 0);
          -o-transform: translate3d(200%, -25%, 0);
          -ms-transform: translate3d(200%, -25%, 0);
          -webkit-transform: translate3d(200%, -25%, 0);
          transform: translate3d(200%, -25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="2"].moveDown {
          -moz-transform: translate3d(200%, 25%, 0);
          -o-transform: translate3d(200%, 25%, 0);
          -ms-transform: translate3d(200%, 25%, 0);
          -webkit-transform: translate3d(200%, 25%, 0);
          transform: translate3d(200%, 25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="2"].moveLeft {
          -moz-transform: translate3d(175%, 0%, 0);
          -o-transform: translate3d(175%, 0%, 0);
          -ms-transform: translate3d(175%, 0%, 0);
          -webkit-transform: translate3d(175%, 0%, 0);
          transform: translate3d(175%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="2"].moveRight {
          -moz-transform: translate3d(225%, 0%, 0);
          -o-transform: translate3d(225%, 0%, 0);
          -ms-transform: translate3d(225%, 0%, 0);
          -webkit-transform: translate3d(225%, 0%, 0);
          transform: translate3d(225%, 0%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="3"] {
        -moz-transform: translate3d(300%, 0%, 0);
        -o-transform: translate3d(300%, 0%, 0);
        -ms-transform: translate3d(300%, 0%, 0);
        -webkit-transform: translate3d(300%, 0%, 0);
        transform: translate3d(300%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="3"].moveUp {
          -moz-transform: translate3d(300%, -25%, 0);
          -o-transform: translate3d(300%, -25%, 0);
          -ms-transform: translate3d(300%, -25%, 0);
          -webkit-transform: translate3d(300%, -25%, 0);
          transform: translate3d(300%, -25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="3"].moveDown {
          -moz-transform: translate3d(300%, 25%, 0);
          -o-transform: translate3d(300%, 25%, 0);
          -ms-transform: translate3d(300%, 25%, 0);
          -webkit-transform: translate3d(300%, 25%, 0);
          transform: translate3d(300%, 25%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="3"].moveLeft {
          -moz-transform: translate3d(275%, 0%, 0);
          -o-transform: translate3d(275%, 0%, 0);
          -ms-transform: translate3d(275%, 0%, 0);
          -webkit-transform: translate3d(275%, 0%, 0);
          transform: translate3d(275%, 0%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="0"][data-col="3"].moveRight {
          -moz-transform: translate3d(325%, 0%, 0);
          -o-transform: translate3d(325%, 0%, 0);
          -ms-transform: translate3d(325%, 0%, 0);
          -webkit-transform: translate3d(325%, 0%, 0);
          transform: translate3d(325%, 0%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="0"] {
        -moz-transform: translate3d(0%, 100%, 0);
        -o-transform: translate3d(0%, 100%, 0);
        -ms-transform: translate3d(0%, 100%, 0);
        -webkit-transform: translate3d(0%, 100%, 0);
        transform: translate3d(0%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="0"].moveUp {
          -moz-transform: translate3d(0%, 75%, 0);
          -o-transform: translate3d(0%, 75%, 0);
          -ms-transform: translate3d(0%, 75%, 0);
          -webkit-transform: translate3d(0%, 75%, 0);
          transform: translate3d(0%, 75%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="0"].moveDown {
          -moz-transform: translate3d(0%, 125%, 0);
          -o-transform: translate3d(0%, 125%, 0);
          -ms-transform: translate3d(0%, 125%, 0);
          -webkit-transform: translate3d(0%, 125%, 0);
          transform: translate3d(0%, 125%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="0"].moveLeft {
          -moz-transform: translate3d(-25%, 100%, 0);
          -o-transform: translate3d(-25%, 100%, 0);
          -ms-transform: translate3d(-25%, 100%, 0);
          -webkit-transform: translate3d(-25%, 100%, 0);
          transform: translate3d(-25%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="0"].moveRight {
          -moz-transform: translate3d(25%, 100%, 0);
          -o-transform: translate3d(25%, 100%, 0);
          -ms-transform: translate3d(25%, 100%, 0);
          -webkit-transform: translate3d(25%, 100%, 0);
          transform: translate3d(25%, 100%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="1"] {
        -moz-transform: translate3d(100%, 100%, 0);
        -o-transform: translate3d(100%, 100%, 0);
        -ms-transform: translate3d(100%, 100%, 0);
        -webkit-transform: translate3d(100%, 100%, 0);
        transform: translate3d(100%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="1"].moveUp {
          -moz-transform: translate3d(100%, 75%, 0);
          -o-transform: translate3d(100%, 75%, 0);
          -ms-transform: translate3d(100%, 75%, 0);
          -webkit-transform: translate3d(100%, 75%, 0);
          transform: translate3d(100%, 75%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="1"].moveDown {
          -moz-transform: translate3d(100%, 125%, 0);
          -o-transform: translate3d(100%, 125%, 0);
          -ms-transform: translate3d(100%, 125%, 0);
          -webkit-transform: translate3d(100%, 125%, 0);
          transform: translate3d(100%, 125%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="1"].moveLeft {
          -moz-transform: translate3d(75%, 100%, 0);
          -o-transform: translate3d(75%, 100%, 0);
          -ms-transform: translate3d(75%, 100%, 0);
          -webkit-transform: translate3d(75%, 100%, 0);
          transform: translate3d(75%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="1"].moveRight {
          -moz-transform: translate3d(125%, 100%, 0);
          -o-transform: translate3d(125%, 100%, 0);
          -ms-transform: translate3d(125%, 100%, 0);
          -webkit-transform: translate3d(125%, 100%, 0);
          transform: translate3d(125%, 100%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="2"] {
        -moz-transform: translate3d(200%, 100%, 0);
        -o-transform: translate3d(200%, 100%, 0);
        -ms-transform: translate3d(200%, 100%, 0);
        -webkit-transform: translate3d(200%, 100%, 0);
        transform: translate3d(200%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="2"].moveUp {
          -moz-transform: translate3d(200%, 75%, 0);
          -o-transform: translate3d(200%, 75%, 0);
          -ms-transform: translate3d(200%, 75%, 0);
          -webkit-transform: translate3d(200%, 75%, 0);
          transform: translate3d(200%, 75%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="2"].moveDown {
          -moz-transform: translate3d(200%, 125%, 0);
          -o-transform: translate3d(200%, 125%, 0);
          -ms-transform: translate3d(200%, 125%, 0);
          -webkit-transform: translate3d(200%, 125%, 0);
          transform: translate3d(200%, 125%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="2"].moveLeft {
          -moz-transform: translate3d(175%, 100%, 0);
          -o-transform: translate3d(175%, 100%, 0);
          -ms-transform: translate3d(175%, 100%, 0);
          -webkit-transform: translate3d(175%, 100%, 0);
          transform: translate3d(175%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="2"].moveRight {
          -moz-transform: translate3d(225%, 100%, 0);
          -o-transform: translate3d(225%, 100%, 0);
          -ms-transform: translate3d(225%, 100%, 0);
          -webkit-transform: translate3d(225%, 100%, 0);
          transform: translate3d(225%, 100%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="3"] {
        -moz-transform: translate3d(300%, 100%, 0);
        -o-transform: translate3d(300%, 100%, 0);
        -ms-transform: translate3d(300%, 100%, 0);
        -webkit-transform: translate3d(300%, 100%, 0);
        transform: translate3d(300%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="3"].moveUp {
          -moz-transform: translate3d(300%, 75%, 0);
          -o-transform: translate3d(300%, 75%, 0);
          -ms-transform: translate3d(300%, 75%, 0);
          -webkit-transform: translate3d(300%, 75%, 0);
          transform: translate3d(300%, 75%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="3"].moveDown {
          -moz-transform: translate3d(300%, 125%, 0);
          -o-transform: translate3d(300%, 125%, 0);
          -ms-transform: translate3d(300%, 125%, 0);
          -webkit-transform: translate3d(300%, 125%, 0);
          transform: translate3d(300%, 125%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="3"].moveLeft {
          -moz-transform: translate3d(275%, 100%, 0);
          -o-transform: translate3d(275%, 100%, 0);
          -ms-transform: translate3d(275%, 100%, 0);
          -webkit-transform: translate3d(275%, 100%, 0);
          transform: translate3d(275%, 100%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="1"][data-col="3"].moveRight {
          -moz-transform: translate3d(325%, 100%, 0);
          -o-transform: translate3d(325%, 100%, 0);
          -ms-transform: translate3d(325%, 100%, 0);
          -webkit-transform: translate3d(325%, 100%, 0);
          transform: translate3d(325%, 100%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="0"] {
        -moz-transform: translate3d(0%, 200%, 0);
        -o-transform: translate3d(0%, 200%, 0);
        -ms-transform: translate3d(0%, 200%, 0);
        -webkit-transform: translate3d(0%, 200%, 0);
        transform: translate3d(0%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="0"].moveUp {
          -moz-transform: translate3d(0%, 175%, 0);
          -o-transform: translate3d(0%, 175%, 0);
          -ms-transform: translate3d(0%, 175%, 0);
          -webkit-transform: translate3d(0%, 175%, 0);
          transform: translate3d(0%, 175%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="0"].moveDown {
          -moz-transform: translate3d(0%, 225%, 0);
          -o-transform: translate3d(0%, 225%, 0);
          -ms-transform: translate3d(0%, 225%, 0);
          -webkit-transform: translate3d(0%, 225%, 0);
          transform: translate3d(0%, 225%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="0"].moveLeft {
          -moz-transform: translate3d(-25%, 200%, 0);
          -o-transform: translate3d(-25%, 200%, 0);
          -ms-transform: translate3d(-25%, 200%, 0);
          -webkit-transform: translate3d(-25%, 200%, 0);
          transform: translate3d(-25%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="0"].moveRight {
          -moz-transform: translate3d(25%, 200%, 0);
          -o-transform: translate3d(25%, 200%, 0);
          -ms-transform: translate3d(25%, 200%, 0);
          -webkit-transform: translate3d(25%, 200%, 0);
          transform: translate3d(25%, 200%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="1"] {
        -moz-transform: translate3d(100%, 200%, 0);
        -o-transform: translate3d(100%, 200%, 0);
        -ms-transform: translate3d(100%, 200%, 0);
        -webkit-transform: translate3d(100%, 200%, 0);
        transform: translate3d(100%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="1"].moveUp {
          -moz-transform: translate3d(100%, 175%, 0);
          -o-transform: translate3d(100%, 175%, 0);
          -ms-transform: translate3d(100%, 175%, 0);
          -webkit-transform: translate3d(100%, 175%, 0);
          transform: translate3d(100%, 175%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="1"].moveDown {
          -moz-transform: translate3d(100%, 225%, 0);
          -o-transform: translate3d(100%, 225%, 0);
          -ms-transform: translate3d(100%, 225%, 0);
          -webkit-transform: translate3d(100%, 225%, 0);
          transform: translate3d(100%, 225%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="1"].moveLeft {
          -moz-transform: translate3d(75%, 200%, 0);
          -o-transform: translate3d(75%, 200%, 0);
          -ms-transform: translate3d(75%, 200%, 0);
          -webkit-transform: translate3d(75%, 200%, 0);
          transform: translate3d(75%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="1"].moveRight {
          -moz-transform: translate3d(125%, 200%, 0);
          -o-transform: translate3d(125%, 200%, 0);
          -ms-transform: translate3d(125%, 200%, 0);
          -webkit-transform: translate3d(125%, 200%, 0);
          transform: translate3d(125%, 200%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="2"] {
        -moz-transform: translate3d(200%, 200%, 0);
        -o-transform: translate3d(200%, 200%, 0);
        -ms-transform: translate3d(200%, 200%, 0);
        -webkit-transform: translate3d(200%, 200%, 0);
        transform: translate3d(200%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="2"].moveUp {
          -moz-transform: translate3d(200%, 175%, 0);
          -o-transform: translate3d(200%, 175%, 0);
          -ms-transform: translate3d(200%, 175%, 0);
          -webkit-transform: translate3d(200%, 175%, 0);
          transform: translate3d(200%, 175%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="2"].moveDown {
          -moz-transform: translate3d(200%, 225%, 0);
          -o-transform: translate3d(200%, 225%, 0);
          -ms-transform: translate3d(200%, 225%, 0);
          -webkit-transform: translate3d(200%, 225%, 0);
          transform: translate3d(200%, 225%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="2"].moveLeft {
          -moz-transform: translate3d(175%, 200%, 0);
          -o-transform: translate3d(175%, 200%, 0);
          -ms-transform: translate3d(175%, 200%, 0);
          -webkit-transform: translate3d(175%, 200%, 0);
          transform: translate3d(175%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="2"].moveRight {
          -moz-transform: translate3d(225%, 200%, 0);
          -o-transform: translate3d(225%, 200%, 0);
          -ms-transform: translate3d(225%, 200%, 0);
          -webkit-transform: translate3d(225%, 200%, 0);
          transform: translate3d(225%, 200%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="3"] {
        -moz-transform: translate3d(300%, 200%, 0);
        -o-transform: translate3d(300%, 200%, 0);
        -ms-transform: translate3d(300%, 200%, 0);
        -webkit-transform: translate3d(300%, 200%, 0);
        transform: translate3d(300%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="3"].moveUp {
          -moz-transform: translate3d(300%, 175%, 0);
          -o-transform: translate3d(300%, 175%, 0);
          -ms-transform: translate3d(300%, 175%, 0);
          -webkit-transform: translate3d(300%, 175%, 0);
          transform: translate3d(300%, 175%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="3"].moveDown {
          -moz-transform: translate3d(300%, 225%, 0);
          -o-transform: translate3d(300%, 225%, 0);
          -ms-transform: translate3d(300%, 225%, 0);
          -webkit-transform: translate3d(300%, 225%, 0);
          transform: translate3d(300%, 225%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="3"].moveLeft {
          -moz-transform: translate3d(275%, 200%, 0);
          -o-transform: translate3d(275%, 200%, 0);
          -ms-transform: translate3d(275%, 200%, 0);
          -webkit-transform: translate3d(275%, 200%, 0);
          transform: translate3d(275%, 200%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="2"][data-col="3"].moveRight {
          -moz-transform: translate3d(325%, 200%, 0);
          -o-transform: translate3d(325%, 200%, 0);
          -ms-transform: translate3d(325%, 200%, 0);
          -webkit-transform: translate3d(325%, 200%, 0);
          transform: translate3d(325%, 200%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="0"] {
        -moz-transform: translate3d(0%, 300%, 0);
        -o-transform: translate3d(0%, 300%, 0);
        -ms-transform: translate3d(0%, 300%, 0);
        -webkit-transform: translate3d(0%, 300%, 0);
        transform: translate3d(0%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="0"].moveUp {
          -moz-transform: translate3d(0%, 275%, 0);
          -o-transform: translate3d(0%, 275%, 0);
          -ms-transform: translate3d(0%, 275%, 0);
          -webkit-transform: translate3d(0%, 275%, 0);
          transform: translate3d(0%, 275%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="0"].moveDown {
          -moz-transform: translate3d(0%, 325%, 0);
          -o-transform: translate3d(0%, 325%, 0);
          -ms-transform: translate3d(0%, 325%, 0);
          -webkit-transform: translate3d(0%, 325%, 0);
          transform: translate3d(0%, 325%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="0"].moveLeft {
          -moz-transform: translate3d(-25%, 300%, 0);
          -o-transform: translate3d(-25%, 300%, 0);
          -ms-transform: translate3d(-25%, 300%, 0);
          -webkit-transform: translate3d(-25%, 300%, 0);
          transform: translate3d(-25%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="0"].moveRight {
          -moz-transform: translate3d(25%, 300%, 0);
          -o-transform: translate3d(25%, 300%, 0);
          -ms-transform: translate3d(25%, 300%, 0);
          -webkit-transform: translate3d(25%, 300%, 0);
          transform: translate3d(25%, 300%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="1"] {
        -moz-transform: translate3d(100%, 300%, 0);
        -o-transform: translate3d(100%, 300%, 0);
        -ms-transform: translate3d(100%, 300%, 0);
        -webkit-transform: translate3d(100%, 300%, 0);
        transform: translate3d(100%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="1"].moveUp {
          -moz-transform: translate3d(100%, 275%, 0);
          -o-transform: translate3d(100%, 275%, 0);
          -ms-transform: translate3d(100%, 275%, 0);
          -webkit-transform: translate3d(100%, 275%, 0);
          transform: translate3d(100%, 275%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="1"].moveDown {
          -moz-transform: translate3d(100%, 325%, 0);
          -o-transform: translate3d(100%, 325%, 0);
          -ms-transform: translate3d(100%, 325%, 0);
          -webkit-transform: translate3d(100%, 325%, 0);
          transform: translate3d(100%, 325%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="1"].moveLeft {
          -moz-transform: translate3d(75%, 300%, 0);
          -o-transform: translate3d(75%, 300%, 0);
          -ms-transform: translate3d(75%, 300%, 0);
          -webkit-transform: translate3d(75%, 300%, 0);
          transform: translate3d(75%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="1"].moveRight {
          -moz-transform: translate3d(125%, 300%, 0);
          -o-transform: translate3d(125%, 300%, 0);
          -ms-transform: translate3d(125%, 300%, 0);
          -webkit-transform: translate3d(125%, 300%, 0);
          transform: translate3d(125%, 300%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="2"] {
        -moz-transform: translate3d(200%, 300%, 0);
        -o-transform: translate3d(200%, 300%, 0);
        -ms-transform: translate3d(200%, 300%, 0);
        -webkit-transform: translate3d(200%, 300%, 0);
        transform: translate3d(200%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="2"].moveUp {
          -moz-transform: translate3d(200%, 275%, 0);
          -o-transform: translate3d(200%, 275%, 0);
          -ms-transform: translate3d(200%, 275%, 0);
          -webkit-transform: translate3d(200%, 275%, 0);
          transform: translate3d(200%, 275%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="2"].moveDown {
          -moz-transform: translate3d(200%, 325%, 0);
          -o-transform: translate3d(200%, 325%, 0);
          -ms-transform: translate3d(200%, 325%, 0);
          -webkit-transform: translate3d(200%, 325%, 0);
          transform: translate3d(200%, 325%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="2"].moveLeft {
          -moz-transform: translate3d(175%, 300%, 0);
          -o-transform: translate3d(175%, 300%, 0);
          -ms-transform: translate3d(175%, 300%, 0);
          -webkit-transform: translate3d(175%, 300%, 0);
          transform: translate3d(175%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="2"].moveRight {
          -moz-transform: translate3d(225%, 300%, 0);
          -o-transform: translate3d(225%, 300%, 0);
          -ms-transform: translate3d(225%, 300%, 0);
          -webkit-transform: translate3d(225%, 300%, 0);
          transform: translate3d(225%, 300%, 0); }
      .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="3"] {
        -moz-transform: translate3d(300%, 300%, 0);
        -o-transform: translate3d(300%, 300%, 0);
        -ms-transform: translate3d(300%, 300%, 0);
        -webkit-transform: translate3d(300%, 300%, 0);
        transform: translate3d(300%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="3"].moveUp {
          -moz-transform: translate3d(300%, 275%, 0);
          -o-transform: translate3d(300%, 275%, 0);
          -ms-transform: translate3d(300%, 275%, 0);
          -webkit-transform: translate3d(300%, 275%, 0);
          transform: translate3d(300%, 275%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="3"].moveDown {
          -moz-transform: translate3d(300%, 325%, 0);
          -o-transform: translate3d(300%, 325%, 0);
          -ms-transform: translate3d(300%, 325%, 0);
          -webkit-transform: translate3d(300%, 325%, 0);
          transform: translate3d(300%, 325%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="3"].moveLeft {
          -moz-transform: translate3d(275%, 300%, 0);
          -o-transform: translate3d(275%, 300%, 0);
          -ms-transform: translate3d(275%, 300%, 0);
          -webkit-transform: translate3d(275%, 300%, 0);
          transform: translate3d(275%, 300%, 0); }
        .game-container .game-field .game-matrix .matrix-cell[data-row="3"][data-col="3"].moveRight {
          -moz-transform: translate3d(325%, 300%, 0);
          -o-transform: translate3d(325%, 300%, 0);
          -ms-transform: translate3d(325%, 300%, 0);
          -webkit-transform: translate3d(325%, 300%, 0);
          transform: translate3d(325%, 300%, 0); }
.game-container .nav-controls .controls-cell {
  vertical-align: bottom; }
.game-container .nav-controls .level-cell {
  vertical-align: bottom;
  color: #0397d6; }
  .game-container .nav-controls .level-cell .moves .moves-cont {
    display: inline-block; }
.game-container .nav-controls .game-goal-cell {
  vertical-align: bottom; }
  .game-container .nav-controls .game-goal-cell .game-goal-container {
    float: right;
    position: relative; }
    .game-container .nav-controls .game-goal-cell .game-goal-container.zindexOver {
      z-index: 110; }
  .game-container .nav-controls .game-goal-cell .goal-label {
    width: 100%;
    text-align: center;
    color: #0397d6;
    display: inline-block; }
  .game-container .nav-controls .game-goal-cell .goal-table {
    width: 100%;
    border: solid 1px white;
    margin-bottom: -2px;
    color: white;
    background-color: #0397d6; }
    .game-container .nav-controls .game-goal-cell .goal-table .t-row {
      text-align: center; }
      .game-container .nav-controls .game-goal-cell .goal-table .t-row .t-cell {
        vertical-align: middle;
        border: solid 1px white; }
    .game-container .nav-controls .game-goal-cell .goal-table.requireUserFocus {
      border: solid 3px white;
      margin-bottom: -4px;
      margin-left: -2px;
      -webkit-animation: pulsateBorder 3s linear infinite;
      -moz-animation: pulsateBorder 3s linear infinite;
      animation: pulsateBorder 3s linear infinite; }
  .game-container .nav-controls .game-goal-cell .goal-hint-arrow-outer {
    width: 100%;
    position: relative;
    height: 0; }
  .game-container .nav-controls .game-goal-cell .goal-hint-arrow {
    color: #ffb200;
    left: 50%;
    display: inline-block;
    position: absolute;
    -webkit-animation: pulsate 3s linear infinite;
    -moz-animation: pulsate 3s linear infinite;
    animation: pulsate 3s linear infinite; }
.game-container .nav-controls .controls-cell {
  width: 70px; }
  .game-container .nav-controls .controls-cell .control-icon + .control-icon {
    margin-top: 20px; }
.game-container .nav-controls .level-cell {
  font-size: 42px; }
  .game-container .nav-controls .level-cell .level-id {
    height: 50px;
    line-height: 50px;
    margin-left: -3px; }
  .game-container .nav-controls .level-cell .moves {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px; }
    .game-container .nav-controls .level-cell .moves .moves-cont {
      line-height: 25px; }
.game-container .nav-controls .game-goal-cell .goal-label {
  font-size: 16px;
  margin-bottom: 10px; }
.game-container .nav-controls .game-goal-cell .goal-table {
  font-size: 20px; }
  .game-container .nav-controls .game-goal-cell .goal-table .t-row .t-cell {
    width: 15px;
    line-height: 15px; }
.game-container .nav-controls .game-goal-cell .goal-hint-arrow {
  font-size: 20px;
  top: -20px;
  margin-left: -10px; }

.game-completed-modal {
  padding-top: 130px !important; }
  .game-completed-modal .score-stars i {
    display: inline-block; }
    .game-completed-modal .score-stars i:not(.rewarded) {
      color: #B9B9B9; }
  .game-completed-modal .nav-controls {
    text-align: center; }
  .game-completed-modal .score-stars i + i {
    margin-left: 5px; }
  .game-completed-modal .nav-controls .control-icon + .control-icon {
    margin-left: 20px; }

.tutorial-container {
  width: 100%;
  height: 100%;
  padding: 90px 20px 0;
  box-sizing: border-box;
  color: white; }
  .tutorial-container .pseudo-matrix-cell {
    position: absolute;
    text-align: center; }
  .tutorial-container .hint-actions i {
    width: 100%;
    text-align: right;
    display: block; }
  .tutorial-container .text-above {
    text-align: center;
    font-family: LIC-Regular; }
  .tutorial-container .text-below {
    text-align: center;
    font-family: LIC-Regular; }
  .tutorial-container .hint-actions {
    margin-bottom: 20px;
    font-size: 37px; }
    .tutorial-container .hint-actions + i {
      margin-top: 10px; }
  .tutorial-container .text-above {
    font-size: 20px;
    margin-bottom: 40px;
    height: 50px; }
  .tutorial-container .text-below {
    font-size: 12px; }

@media only screen and (min-width: 500px) {
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: translate3d(0, 0, 0); }

    50% {
      -webkit-transform: translate3d(0, -15px, 0); }

    100% {
      -webkit-transform: translate3d(0, 0, 0); } }

  @-moz-keyframes pulsate {
    0% {
      -moz-transform: translate3d(0, 0, 0); }

    50% {
      -moz-transform: translate3d(0, -15px, 0); }

    100% {
      -moz-transform: translate3d(0, 0, 0); } }

  @keyframes pulsate {
    0% {
      transform: translate3d(0, 0, 0); }

    50% {
      transform: translate3d(0, -15px, 0); }

    100% {
      transform: translate3d(0, 0, 0); } }

  .tutorial-container {
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer; }
    .tutorial-container .hint-actions {
      margin-bottom: 30px;
      font-size: 55.5px; }
      .tutorial-container .hint-actions + i {
        margin-top: 15px; }
    .tutorial-container .text-above {
      font-size: 30px;
      margin-bottom: 60px;
      height: 75px; }
    .tutorial-container .text-below {
      font-size: 18px; }

  .game-completed-modal {
    padding-top: 195px !important; }
    .game-completed-modal .score-stars i + i {
      margin-left: 7.5px; }
    .game-completed-modal .nav-controls .control-icon + .control-icon {
      margin-left: 30px; }

  .game-container .nav-controls .controls-cell {
    width: 105px; }
    .game-container .nav-controls .controls-cell .control-icon + .control-icon {
      margin-top: 30px; }
  .game-container .nav-controls .level-cell {
    font-size: 63px; }
    .game-container .nav-controls .level-cell .level-id {
      height: 75px;
      line-height: 75px;
      margin-left: -4.5px; }
    .game-container .nav-controls .level-cell .moves {
      font-size: 30px;
      height: 75px;
      line-height: 75px;
      margin-top: 30px; }
      .game-container .nav-controls .level-cell .moves .moves-cont {
        line-height: 37.5px; }
  .game-container .nav-controls .game-goal-cell .goal-label {
    font-size: 24px;
    margin-bottom: 15px; }
  .game-container .nav-controls .game-goal-cell .goal-table {
    font-size: 30px; }
    .game-container .nav-controls .game-goal-cell .goal-table .t-row .t-cell {
      width: 22.5px;
      line-height: 22.5px; }
  .game-container .nav-controls .game-goal-cell .goal-hint-arrow {
    font-size: 30px;
    top: -30px;
    margin-left: -15px; } }
@media only screen and (max-height: 480px) {
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: translate3d(0, 0, 0); }

    50% {
      -webkit-transform: translate3d(0, -9px, 0); }

    100% {
      -webkit-transform: translate3d(0, 0, 0); } }

  @-moz-keyframes pulsate {
    0% {
      -moz-transform: translate3d(0, 0, 0); }

    50% {
      -moz-transform: translate3d(0, -9px, 0); }

    100% {
      -moz-transform: translate3d(0, 0, 0); } }

  @keyframes pulsate {
    0% {
      transform: translate3d(0, 0, 0); }

    50% {
      transform: translate3d(0, -9px, 0); }

    100% {
      transform: translate3d(0, 0, 0); } }

  .game-completed-modal {
    padding-top: 117px !important; }
    .game-completed-modal .score-stars i + i {
      margin-left: 4.5px; }
    .game-completed-modal .nav-controls .control-icon + .control-icon {
      margin-left: 18px; }

  .game-container .nav-controls .controls-cell {
    width: 63px; }
    .game-container .nav-controls .controls-cell .control-icon + .control-icon {
      margin-top: 18px; }
  .game-container .nav-controls .level-cell {
    font-size: 37.8px; }
    .game-container .nav-controls .level-cell .level-id {
      height: 45px;
      line-height: 45px;
      margin-left: -2.7px; }
    .game-container .nav-controls .level-cell .moves {
      font-size: 18px;
      height: 45px;
      line-height: 45px;
      margin-top: 18px; }
      .game-container .nav-controls .level-cell .moves .moves-cont {
        line-height: 22.5px; }
  .game-container .nav-controls .game-goal-cell .goal-label {
    font-size: 14.4px;
    margin-bottom: 9px; }
  .game-container .nav-controls .game-goal-cell .goal-table {
    font-size: 18px; }
    .game-container .nav-controls .game-goal-cell .goal-table .t-row .t-cell {
      width: 13.5px;
      line-height: 13.5px; }
  .game-container .nav-controls .game-goal-cell .goal-hint-arrow {
    font-size: 18px;
    top: -18px;
    margin-left: -9px; }

  .tutorial-container .hint-actions {
    margin-bottom: 18px;
    font-size: 33.3px; }
    .tutorial-container .hint-actions + i {
      margin-top: 9px; }
  .tutorial-container .text-above {
    font-size: 18px;
    margin-bottom: 36px;
    height: 45px; }
  .tutorial-container .text-below {
    font-size: 10.8px; }
  .tutorial-container .hint-actions {
    margin-bottom: 5px; } }
.padding-top {
  padding-top: 25px; }

.item {
  border-color: white; }
