<div ng-controller="MobInfoController as mobinfo">

  <div class="item item-input row" ng-if="editName === true">
    <div class="col col-33 item-text-wrap">Mob name</div>
    <div class="col col-67" ng-if="editName === true">
      <input type="text" ng-model="mob.name" ng-model-options="{getterSetter: true}" ng-change="onChange()">
    </div>
    <div class="col col-67 positive value-lic" ng-if="editName !== true">{{mob.name()}}</div>
  </div>

  <div class="list card" ng-if="mobList.length > 0 && displayMobList == true">
    <div class="item item-divider">
      Mobs
    </div>
    <ion-list>
      <label class="item item-icon-left item-radio" ng-repeat="selectedMob in mobList">
        <input type="radio" name="mobInput" ng-model="mob" ng-value="selectedMob" ng-click="mobUpdate(selectedMob)" >
        <div class="item-content">
          {{selectedMob.name()}}
        </div>
        <i class="radio-icon lic-tick"></i>
      </label>
    </ion-list>

  </div>

  <div class="item item-input row">
    <div class="col col-75 item-text-wrap">Number of cows</div>
    <div class="col col-25" ng-if="displayForm">
      <input type="number" ng-model="mob.size" ng-model-options="{getterSetter: true}" ng-change="onChange()">
    </div>
    <div class="col col-25 positive value-lic" ng-if="!displayForm"><span format-num="mob.size()"></span></div>
  </div>
  <div class="item item-input row">
    <div class="col col-75">
      <div class="item-text-wrap item-icon-right" ng-if="enableIntakeCalculator && displayForm">
        <i class="icon calm lic-calc" ng-click="openModal()" ng-if="enableIntakeCalculator"></i>
        Cow daily intake
        <span class="input-unit">kg&nbsp;DM</span>
      </div>
      <div class="item-text-wrap" ng-if="!enableIntakeCalculator || !displayForm">
        Cow daily intake
        <span class="input-unit">kg&nbsp;DM</span>
      </div>
    </div>
    <div class="col col-25" ng-if="displayForm">
      <input type="number" ng-model="mob.intake" ng-model-options="{getterSetter: true}" ng-change="onChange()" ng-min="0" ng-max="99">
    </div>
    <div class="col col-25 positive value-lic" ng-if="!displayForm"><span format-num="mob.intake()"></span></div>
  </div>
  <div class="item item-divider item-input row" ng-if="displayDemand == true">
      <div class="col col-75 item-text-wrap positive">
        Mob demand
        <span class="input-unit positive">kg&nbsp;DM</span>
      </div>
      <div class="col col-25 positive value-lic"><span format-num="mob.demand()"></span></div>
    </div>

  <script id="mobInfoModal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-lic">
        <button class="button-icon icon lic-back" ng-click="modal.hide()"></button>
        <h1 class="title">Intake Calculator</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Live Weight
            </div>
            <select ng-model="mob.model.lwt">
              <option ng-repeat="val in values.lwt">{{val}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Breed
            </div>
            <select ng-model="mob.model.breed">
              <option ng-repeat="val in values.breed">{{val}}</option>
            </select>
          </label>

          <div class="item item-input row">
            <div class="col col-75 item-text-wrap">
              Milk production
              <span class="input-unit">kg&nbsp;MS/day</span>
            </div>
            <div class="col col-25">
              <input type="number" ng-model="mob.model.milkProduction">
            </div>
          </div>
          <div class="item item-input row">
            <div class="col col-75 item-text-wrap">
              Walking distance
              <span class="input-unit">km/day</span>
            </div>
            <div class="col col-25">
              <input type="number" ng-model="mob.model.walkingDistance">
            </div>
          </div>
          <label class="item item-input item-select">
            <div class="input-label">
              Land slope
            </div>
            <select ng-model="mob.model.landSlope">
              <option ng-repeat="val in values.landSlope">{{val}}</option>
            </select>
          </label>
          <label class="item item-input item-select">
            <div class="input-label item-text-wrap">
              Pregnancy
              <span class="input-unit">weeks before calving</span>
            </div>
            <select ng-model="mob.model.weeksBeforeCalving">
              <option ng-repeat="val in values.weeksBeforeCalving">{{val}}</option>
            </select>
          </label>

          <div class="item item-input row">
            <div class="col col-75 item-text-wrap">
              Weight gain
              <span class="input-unit">kg/day</span>
            </div>
            <div class="col col-25">
              <input type="number" ng-model="mob.model.weightGain">
            </div>
          </div>
        </div>


      </ion-content>
      <div class="intake-calculator-footer">
        <div class="list card">
          <div class="item item-divider">
            Cow Daily Intake
          </div>
          <div class="item row">
            <div class="col col-75 item-text-wrap">Total MJ&nbsp;ME/day</div>
            <div class="col col-25 positive value-lic"><span format-num="calculateIntake().MJME"></span></div>
          </div>
          <div class="item row">
            <div class="col col-75 item-text-wrap">Total kg&nbsp;DM/day</div>
            <div class="col col-25 positive value-lic"><span format-num="calculateIntake().DM"></span></div>
          </div>

        </div>
      </div>
    </ion-modal-view>
  </script>
</div>
